<template>
    <b-row>
        <b-col lg="10" offset-lg="1" class="text-center text-dark p-0">
            <ul class="list-inline mt-2">
                <li class="list-inline-item">
                    <small>created by
                        <b-link class="text-dark" href="https://gitlab.com/zolbayar" target="_blank">
                            @zolbayar
                        </b-link>
                    </small>
                </li>
            </ul>
        </b-col>
    </b-row>
</template>

<script>
  export default {
    name: 'Footer',
  };
</script>
