<template>
    <b-navbar toggleable="md" variant="light">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand to="/">ERC20 Token Generator for KVN</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav>
                <b-nav-item to="/docs.html">Docs</b-nav-item>
                
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <b-nav-item target="_blank"
                            href="https://gitlab.com/zolbayar/karvuon-erc20">
                    Contracts
                </b-nav-item>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
</template>

<script>
  export default {
    name: 'Header',
  };
</script>
