<template>
    <div class="page-wrapper mt-4">
        <b-container>
            <b-row>
                <b-col lg="8" offset-lg="2">
                    <transition name="fade" mode="out-in">
                        <b-card class="shadow-lg" bg-variant="light">
                            <h1>404</h1>
                            <blockquote>{{ getMsg() }}</blockquote>
                            <router-link to="/">Go to Home</router-link>.
                        </b-card>
                    </transition>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
  const msgs = 'Sorry! Dude';

  export default {
    methods: {
      getMsg () {
        return msgs;
      },
    },
  };
</script>
<style src="../scss/main.scss" lang="scss"></style>
